:root {
    --md-sys-color-primary: #7A1EFF;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-secondary: #4D00FF;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-surface: #f8f8fc;
    --md-sys-color-background: #ffffff;
    --md-sys-color-error: #b00020;
  }